
div.image img[src="modules.png"]{
    width:500px;
}

div.image img[src="quetzal_logo.png"]{
    width:500px;
}

div.image img[src="basc_logo.png"]{
    width:400px;
}

div.image img[src="github_logo.png"]{
    width:300px;
}

a.githublogo{
  background: url('../resources/github_logo.png') no-repeat;
  background-color:#525252;
  width:500px;
  min-height:100px;
}
