<section class="page-header">
  <h1 class="project-name">Quetzal-EGGS</h1>
  <h2 class="project-tagline">Simulation programs for spatial coalescence</h2>
  <a href="/pages/quetzal_eggs/home.html" class="btn">Home</a>
  <a href="https://github.com/Becheler/quetzal-EGGS#install-from-source" class="btn">Installation</a>
  <a href="/pages/quetzal_eggs/models.html" class="btn">Models</a>
  <a href="https://github.com/Becheler/quetzal-EGGS" class="btn">GitHub</a>
  <a href="/index.html" class="btn">Maintainer</a>
</section>
