<section class="page-header">
  <h1 class="project-name">Decrypt</h1>
  <h2 class="project-tagline">Testing speciation versus isolation by distance</h2>
  <a href="../pages/decrypt.html" class="btn">Summary</a>
  <a href="https://github.com/Becheler/decrypt/blob/master/README.md" class="btn">Installation</a>
  <a href="../pages/decrypt_tutos.html" class="btn">Tutorials</a>
  <a href="https://github.com/Becheler/decrypt" class="btn">GitHub</a>
  <a href="../index.html" class="btn">Maintainer</a>
</section>
