---
layout: main
---

<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="software-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <section class="contact">
        <ul>
          <li><a href="https://github.com/Becheler/quetzal-CoalTL"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="{{site.baseurl}}/softwares/quetzal-CoalTL/tutorials"><i class="fa fa-code" aria-hidden="true"></i></a></li>
          <li><a href="{{site.baseurl}}/softwares/quetzal-CoalTL/API/html/index.html"><i class="fa fa-wrench" aria-hidden="true"></i></a></li>
          <li><a href="{{site.baseurl}}/softwares/quetzal-CoalTL/FAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
        </ul>
        </section
      </header>
      <div style="text-align:left;">
      {{content | markdownify}}
      </div>
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include utterances.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
